/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Rowdies:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

header {
	font-family: roboto;
	font-style: normal;
	font-size: 30px;
	font-weight: bold;
	border-bottom: 3px dashed black;
	margin-bottom: 30px;
}
.project {
	text-align: justify;
	width: 810px;
	margin: 0 auto;
	font-style: normal;
	color: #313131;
}
.project-block {
	font-family: Lato;
	font-size: 30px;
	font-weight: bold;
	color: #1e212c;
}
.content-title {
}
.title1 {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	padding: 0 0 25px 0;
}
.calenda-time-box {
	font-weight: normal;
	font-size: 16px;
	color: #787a80;
	padding: 0 0 40px 0;
}
.calenda {
	background: url("../img/Calendar.svg") 0 0 / 16px no-repeat;
	padding-left: 25px;
	display: inline-block;
	box-sizing: border-box;
}
.time {
	background: url("../img/Clock.svg") 25px 0 / 16px no-repeat;
	padding-left: 25px;
	display: inline-block;
	box-sizing: border-box;
	padding: 0 0 0 50px;
}
.share {
	color: #1e212c;
	display: inline-block;
	box-sizing: border-box;
	margin-left: 400px;
}
.share::after {
	content: "";
	width: 90px;
	height: 30px;
	display: block;
	margin: -17px 0 0 59px;
	background: url("../img/socials.svg") no-repeat;
}
.imeg-title {
	padding-bottom: 60px;
}
.paragraf-title {
	padding-bottom: 25px;
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
}
.content-text {
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
	padding-bottom: 50px;
}
.paragraf1-text {
	padding-bottom: 25px;
}
.content-parahraf {
	font-weight: bold;
	font-size: 20px;
	line-height: 150%;
	color: #1e212c;
	padding-bottom: 50px;
	background: url("../img/braces.svg") 0 1px / 28px no-repeat;
}
.parahraf-content {
	padding-left: 50px;
}
.content-list {
	font-weight: normal;
	font-size: 16px;
	line-height: 160%;
	color: #424551;
}
.parahraf1-list {
	padding-bottom: 25px;
}
.item-list {
	background: url("../img/check.svg") 0 5px no-repeat;
	padding: 0 0 0 25px;
}
.listp {
	padding-bottom: 25px;
}
.parahraf2-list {
	padding-bottom: 30px;
}
.share2 {
	color: #1e212c;
	display: inline-block;
	box-sizing: border-box;
	margin-left: 660px;
	padding-bottom: 30px;
}
.share2::after {
	content: "";
	width: 90px;
	height: 30px;
	display: block;
	margin: -21px 0 0 59px;
	background: url("../img/socials.svg") no-repeat;
}

footer {
	font-family: Lobster;
	font-size: 30px;
	font-weight: bold;
	border-top: 3px dotted #000;
}
